.active_section{
    padding: 0px 0px;
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;
    color: #00FFA3;
    transition: all 0.3s ease;
}
.not_active_section{
    padding: 0px 0px;
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;
    color: #ffffff;
    transition: all 0.3s ease;
}
.not_active_section a:active, .active_section a:active {
    color: #00FFA3;
    background-color: transparent;
}   
.not_active_section::after, .not_active_section::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    height: 0;
    opacity: 0;
    width: 3px;
    background-color: #00FFA3;
    transform: translate(-50%, 0);
    z-index: 0;
    transition: all 0.3s ease;
}
.active_section::after, .active_section::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    height: 50%;
    opacity: 1;
    width: 3px;
    background-color: #00FFA3;
    transform: translate(-50%, 0);
    z-index: 0;
    transition: all 0.3s ease;
}
.active_section::after, .not_active_section::after {
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;

    bottom: -25%;
}
.active_section::before, .not_active_section::before {
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    top: -25%;
}