@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@layer components {
  .container {
    @apply flex min-w-full flex-col xl:px-24 lg:px-16 md:px-14 sm:px-8 px-[10px] gap-7 justify-center content-center;
  }
}
@layer utilities {
  .mask-gradient {
    -webkit-mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0)
    );
    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0)
    );
  }
}

body {
  margin: 0;
  background-color: #040172;
  z-index: 0;
}
* {
  font-family: 'Manrope', sans-serif;
}
