/*.media {
    background: radial-gradient(249.57% 212.97% at 108.6% -0.08%, #000 0%, #0454A4 100%);
}*/
.animation {
  transform: rotateY(180deg);
}
.background_media {
  background-image: url("../../../public/assets/backgroundFuturistic.png");
  position: relative;
}
